<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Sign up</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
   <!-- Favicons -->
   <link href="{% static 'assets/img/favicon2.png' %}" rel="icon">
   <link href="{% static 'assets/img/search.png' %}" rel="apple-touch-icon">
  
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  
  <!-- =======================================================
  * Template Name: JobMate
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/JobMate-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    body {
            background-color: #f8f9fa;
        }

        #reg {
            max-width: 800px;;
            margin: auto;
            padding: 80px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-label {
            font-weight: bold;
        }

        /* Two-column layout */
        .form-column {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .form-column .form-group {
            flex-basis: calc(50% - 10px);
        }

        /* Center the submission portion */
        .submit-button,#cb {
            text-align: center;
            margin-top: 20px; /* Proper spacing between fields and submission portion */
        }

        
          .error-field:focus {
              border-color: red;
              outline: none; 
              box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25); 
          }

          .submit-button .btn:hover {
            background-color: #007A6C; /* Green background color on hover */
            color: #FFFFFF; /* Black text color on hover */
        }
        .form-check-input:checked {
          background-color: #007a6c;
          border-color: #007a6c;
      }
      input[type="checkbox"],
input[type="radio"] {
    background-color: #E8E8E8; /* Dark background color */
    border: 1px solid #606060; /* Dark border color */
}
#submitBtn {
    background-color: #333; /* Default background color */
    color: #fff; /* Default text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transition effect for background and text color changes */
}

#submitBtn:hover {
    background-color: #007A6C; /* Green background color on hover */
    color: #FFFFFF; /* White text color on hover */
}
.form-check-input:checked {
background-color: #007a6c;
border-color: #007a6c;
}
.messages-container {
    margin-bottom: 15px;
  }
  
  .alert {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
  </style>

<body>
 




  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1 style="font-family: 'Cinzel', serif; color: white;" onmouseover="this.style.color='#21cfaf'" onmouseout="this.style.color='white'"><a href="index.html"></a>JobMate</h1>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="home.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="login">Already have an Account? Login</a></li>
          <li><a class="nav-link scrollto" href="companyreg">New Job Provider? Sign Up</a></li>
          
          <!--<li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          
          <li class="dropdown"><a href="#"><span>Register</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="register">New Candidate ?</a></li>
              
              </li>
              <li><a href="register">New Job Provider ?</a></li>
              
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        <br>
      </nav><!-- .navbar -->

   
  </header><!-- End Header -->
  
  
  
   
    <div class="container" id="reg">
        <div class="bg white p-3">
            <h2 style="text-align: center; font-weight: bold; color: black;">Join the Community
              </h2> <div>
                <br> <br>
                <br>
                {% if messages %}
                <div class="messages-container">
                  {% for message in messages %}
                    <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">
                      {{ message }}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
     
  
    <form method="POST" class="was-validated" action="/register" enctype="multipart/form-data" onsubmit= "return validateForm();">
      {% csrf_token %}
        <div class="form-column">
            <div class="form-group">
                <label class="form-label" for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" required class="form-control" placeholder="First Name" onInput="validatefname(this.value)">
                <span id="fname_error" class="fname_error"></span>
            </div>

            <div class="form-group">
                <label class="form-label" for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" required class="form-control" placeholder="Last name" onInput="validatelname(this.value)">
                <span id="lname_error" class="lname_error"></span>
            </div>

            <div class="form-group">
                <label class="form-label" for="email">E-mail</label>
                <input type="email" id="email" name="email" required class="form-control" placeholder="Enter e-mail" onInput="validateEmail()">
                <span id="email_error" class="email_error"></span>
            </div>

            <div class="form-group">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" name="password" required class="form-control" placeholder="Enter password" onInput="validatePassword()">
                <span id="pwMsg" class="pwMsg"></span>
            </div>

            <div class="form-group">
                <label class="form-label" for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" required name="confirmPassword" class="form-control" onInput="validateConfirmPassword()">
                <span id="confirm_password_error" class="confirm_password_error"></span>
            </div>

            <div class="form-group">
                <label class="form-label" for="dob">Date of Birth</label>
                <input type="date" id="dob" required name="dob" class="form-control" onInput="validateDate()">
                <span id="date_error" class="date_error"></span>
            </div>
<br>
            <div class="form-column">
                <label class="form-label" style="margin-right: 100px","margin-bottom: 100px","margin-top: 100px;">Gender</label>
                <div class="form-check form-check-inline" style="margin-right: 50px;">
                    <input class="form-check-input" type="radio" name="gender" id="male" value="male" required>
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline" style="margin-right: 50px;">
                    <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                    <label class="form-check-label" for="female">Female</label>
                </div>
                <div class="form-check form-check-inline" style="margin-right: 50px;">
                 <input class="form-check-input" type="radio" name="gender" id="not-specified" value="">
                 <label class="form-check-label" for="not-specified">Prefer not to say</label>
                

                </div>
            </div>
            
        </div>
<br> 
        <div class="form-column">
            <div class="form-group">
                <label class="form-label" for="loc">Location</label>
                <input type="text" id="loc" name="loc" class="form-control" required onInput="validateloc(this.value)">
                <span id="loc_error" class="loc_error"></span>
            </div>

            <div class="form-group">
                <label class="form-label" for="phone">Contact</label>
                <input type="tel" id="phone" name="phone" required  class="form-control" onInput="validatePhone(this.value)">
                <span id="phone_error" class="phone_error"></span>
            </div>

            <div class="form-group">
              <label class="form-label" required for="qual">Qualification</label>
              <select id="qual" name="qual" class="form-select" required>
                  <option value="" selected disabled> Select </option>
                  <option value="Diploma">Diploma</option>
                  <option value="Graduation">Graduation</option>
                  <option value="Post Graduation">Post Graduation</option>
                  <option value="Other">Other</option>
              </select>

          </div>
          
          <div class="form-group" id="otherField" style="display: none;">
              <label class="form-label" for="oqual">Specify Other Qualification</label>
              <input type="text" id="oqual" name="oqual" class="form-control" placeholder="Specify other qualification">
          </div>
          
          <script>
              const qualSelect = document.getElementById("qual");
              const otherField = document.getElementById("otherField");
              const oqualInput = document.getElementById("oqual");
          
              qualSelect.addEventListener("change", function () {
                  if (qualSelect.value === "Other") {
                      otherField.style.display = "block";
                      oqualInput.required = true;
                  } else {
                      otherField.style.display = "none";
                      oqualInput.required = false;
                  }
              });
          </script>
          <div class="form-group">
            <label class="form-label"  for="exp">Work Experience</label>
            <select id="exp" name="exp" class="form-select" required >
                <option value="" disabled selected>Select (in years)</option>
                <option value="Fresher">0 - 1 : Fresher</option>
                <option value="Intermediate">2 - 5 : Intermediate</option>
                <option value="Expert"> More than 5 : Expert</option>
            </select>
        </div>
        

            <div class="form-group">
                <label class="form-label" for="skills">Skills</label>
                <input type="text" id="skills" name="skills" class="form-control" placeholder="Enter your skills" required>
                
            </div>
            
            <div class="form-group">
                <label class="form-label" for="aadhaar">Aadhaar Number</label>
                <input type="text" id="aadhaar" required name="aadhaar" class="form-control" onInput="validateAadhaar()">
                <span id="aadhaar_error" class="aadhaar_error"></span>
            </div>

            <div class="form-group">
                <label class="form-label" for="res">Upload Resume</label>
                <input type="file" id="resume" name="resume" required  class="form-control" accept=".pdf,.doc,.docx" onchange="validateFile('resume')"/>
            </div>

            <div class="form-group">
                <label class="form-label" for="pro_pic">Upload Photo</label>
                <input type="file" id="pro_pic" required name="pro_pic" class="form-control" accept=".jpg,.jpeg,.pdf" onchange="validateFile('pro_pic')" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" required id="agree" name="agree">
                <label class="form-check-label" for="agree">
                I agree to the <a href="#!">Terms of Service</a>
            </label>
            </div>
        </div>

            <!-- Submit Button -->
            <!-- Centered submission portion -->
        <!-- Centered submission portion -->
        <div style="text-align: center;">
    <button type="submit" class="btn btn-dark btn-lg" id="submitBtn" disabled>Register</button>
    </div>
    <script>
        // Function to enable the submit button when the checkbox is checked
                document.getElementById('agree').addEventListener('change', function () {
                const submitBtn = document.getElementById('submitBtn');
                submitBtn.disabled = !this.checked;
        });
    </script>
    </form>
    <p><center> OR </p>
    <h6> Continue with </h6>
    <br>
    <button type="button" class="btn btn-white btn-floating mx-3">
        <i class="bi bi-google" style="font-size: 26px;"></i>
      </button>
       
      
    
  
    <button type="button" class="btn btn-white btn-floating mx-3">
      <i class="bi bi-twitter-x" style="font-size: 26px;"></i>
  </button>
  
  <button type="button" class="btn btn-white btn-floating mx-3">
    <i class="bi bi-instagram" style="font-size: 26px;"></i>
</button>
  
      <button type="button" class="btn btn-white btn-floating mx-3">
        <i class="bi bi-github" style="font-size: 26px;"></i>
      </button>

</div>
</form>


<!-- Validations-->
<script>
    
   
        function validateForm() {
            // Check if all required fields are filled and valid.
            // Return true if the form is valid, or false if there are errors.
            const dobValid = validateDate();
            const aadhaarValid = validateAadhaar();
            const skillsValid = validateSkills();
            const resumeValid = validateFile('resume');
            const proPicValid = validateFile('pro_pic');
            const agreeChecked = document.getElementById('agree').checked;
    
            // Check if all conditions are met
            if (dobValid && aadhaarValid && skillsValid && resumeValid && proPicValid){
                if (!agreeChecked) {
                    alert('Please agree to the Terms of Service.');
                    return false;
                } else {
                    alert('Thank you for agreeing to our Terms of Service.');
                    return true;
                }
            } else {
                alert('Please fill in all required fields.');
                return false;
            }
        }
        function validatefname(input) {
            const nameError = document.getElementById('fname_error');
            const trimmedInput = input.trim();
            let message = "";
        
            if (trimmedInput === "") {
                message = '<i class="bi bi-x-circle-fill text-danger"></i> Name is required.';
            } else {
                // Trim any trailing spaces from the input
                const trimSpaces = trimmedInput.replace(/\s+$/, '');
        
                if (!/^[A-Za-z\s.]*$/.test(trimSpaces)) {
                    if (/^[A-Za-z]/.test(trimSpaces)) {
                        message = '<i class="bi bi-x-circle-fill text-danger"></i> Name can only contain letters, spaces, and periods.';
                    } else {
                        message = '<i class="bi bi-x-circle-fill text-danger"></i> Name should start with a letter.';
                    }
                } else if (/(?:\.\s*){2,}/.test(trimSpaces)) {
                    message = '<i class="bi bi-x-circle-fill text-danger"></i> Name should not contain consecutive periods.';
                } else if (trimSpaces.split('.').length > 3) {
                    message = '<i class="bi bi-x-circle-fill text-danger"></i> Name can have a maximum of two periods.';
                } else if (trimSpaces.length < 2) {
                    message = '<i class="bi bi-x-circle-fill text-danger"></i> Name must be at least 2 characters long.';
                } else {
                    message = '<i class="bi bi-check-square-fill text-success mt-5"></i>';
                }
            }
        
            nameError.style.color = message.includes('text-danger') ? 'red' : 'green';
            nameError.innerHTML = message;
        }
        
        
        function validatelname(input) {
            const nameError = document.getElementById('lname_error');
            const trimmedInput = input.trim();
            let message = "";
        
            if (trimmedInput === "") {
                message = '<i class="bi bi-x-circle-fill text-danger"></i> Name is required.';
            } else {
                // Trim any trailing spaces from the input
                const trimSpaces = trimmedInput.replace(/\s+$/, '');
        
                if (!/^[A-Za-z\s.]*$/.test(trimSpaces)) {
                    if (/^[A-Za-z]/.test(trimSpaces)) {
                        message = '<i class="bi bi-x-circle-fill text-danger"></i> Name can only contain letters, spaces, and periods.';
                    } else {
                        message = '<i class="bi bi-x-circle-fill text-danger"></i> Name should start with a letter.';
                    }
                } else if (/(?:\.\s*){2,}/.test(trimSpaces)) {
                    message = '<i class="bi bi-x-circle-fill text-danger"></i> Name should not contain consecutive periods.';
                } else if (trimSpaces.split('.').length > 3) {
                    message = '<i class="bi bi-x-circle-fill text-danger"></i> Name can have a maximum of two periods.';
                } else {
                    message = '<i class="bi bi-check-square-fill text-success mt-5"></i>';
                }
            }
        
            nameError.style.color = message.includes('text-danger') ? 'red' : 'green';
            nameError.innerHTML = message;
        }
        
    // Validate email
    function validateEmail() {
        const emailInput = document.getElementById('email');
        const email = emailInput.value.trim();
        const email_error = document.getElementById('email_error');
    
        const allowedTlds = [
            "com",
            "in",
            "ac",
            "co",
            "org",
            "net",
            "edu",
            "gov",
            // Add more allowed TLDs here
        ];
    
        const parts = email.split('@');
        if (parts.length !== 2) {
            // Email should have exactly one "@" symbol
            const message = '<i class="bi bi-x-circle-fill text-danger"></i> Invalid email format';
            email_error.innerHTML = message;
            emailInput.value = email;
            return;
        }
    
        const domain = parts[1];
        const domainParts = domain.split('.');
        if (domainParts.length < 2) {
            // Domain should have at least one subdomain and one TLD
            const message = '<i class="bi bi-x-circle-fill text-danger"></i> Invalid email domain';
            email_error.innerHTML = message;
            emailInput.value = email;
            return;
        }
    
        const tld = domainParts.pop().toLowerCase();
        if (!allowedTlds.includes(tld) || tld.length > 6 || /\.{2,}/.test(domain)) {
            // Check if the TLD is in the allowed list, has a valid length (up to 6 characters), and no consecutive dots in the domain
            const message = '<i class="bi bi-x-circle-fill text-danger"></i> Invalid or unsupported email domain';
            email_error.innerHTML = message;
            emailInput.value = email;
            return;
        }
    
        let message = '<i class="bi bi-check-square-fill text-success mt-5"></i>';
        email_error.innerHTML = message;
        emailInput.value = email; // Remove leading/trailing spaces if any
    }
    

    // Validate phone number
    function validatePhone(phoneNumber) {
        const phone_error = document.getElementById("phone_error");
        let message = "";
        const phoneRegex = /^[0-9]{10}$/.test(phoneNumber);
    
        if (phoneNumber.length >= 10) {
            document.getElementById("phone").value = phoneNumber.slice(0, 10);
        }
        
        if (!phoneRegex) {
            message = '<i class="bi bi-x-circle-fill text-danger"></i> Invalid phone number!';
        } else if (new Set(phoneNumber).size === 1) {
            message = '<i class="bi bi-x-circle-fill text-danger"></i> Invalid phone number!';
        } else {
            message = '<i class="bi bi-check-square-fill text-success mt-5"></i>';
        }
    
        phone_error.innerHTML = message;
    }
    
    // Validate password
    function validatePassword() {
        const password = document.getElementById("password").value;
        const pwMsg = document.getElementById("pwMsg");

        const lengthValid = /.{8,20}/.test(password); // Corrected regex
        const hasUpperCase = /[A-Z]/.test(password);
        const hasLowerCase = /[a-z]/.test(password);
        const hasSpecialChar = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]/.test(password);
        const hasDigit = /[0-9]/.test(password);
        const whiteSpace = /\s/.test(password);

        let message = "";

        if (!lengthValid) {
            message = '<i class="bi bi-x-circle-fill text-danger"></i> Password must be 8 to 20 characters long.<br>';
        }
        if (password.length >= 20) {
            document.getElementById("password").value = password.slice(0, 20);
        }
        if (!hasUpperCase) {
            message += '<i class="bi bi-x-circle-fill text-danger"></i> Password must contain at least one uppercase letter.<br>';
        }
        if (!hasLowerCase) {
            message += '<i class="bi bi-x-circle-fill text-danger"></i> Password must contain at least one lowercase letter.<br>';
        }
        if (!hasSpecialChar) {
            message += '<i class="bi bi-x-circle-fill text-danger"></i> Password must contain at least one special character.<br>';
        }
        if (!hasDigit) {
            message += '<i class="bi bi-x-circle-fill text-danger"></i> Password must contain at least one digit.<br>';
        }
        if (whiteSpace) {
            message += '<i class="bi bi-x-circle-fill text-danger"></i> Password must not contain any whitespace characters.';
        }

        pwMsg.innerHTML = message;

        if (lengthValid && hasUpperCase && hasLowerCase && hasSpecialChar && hasDigit && !whiteSpace) {
            message = '<i class="bi bi-check-square-fill text-success mt-5"></i> Password is valid!';
        }

        pwMsg.innerHTML = message;
    }

    function validateConfirmPassword() {
        const password = document.getElementById('password').value;
        const confirm_password = document.getElementById('confirmPassword').value;
        const confirm_password_error = document.getElementById('confirm_password_error');
        let message = "";

        if (confirm_password !== password) {
            message = '<i class="bi bi-x-circle-fill text-danger"></i> Passwords do not match';
        } else {
            message = '<i class="bi bi-check-square-fill text-success mt-5"></i> Passwords matched';
        }

        confirm_password_error.innerHTML = message;
    }

    
        function validateDate() {
            const dobInput = document.getElementById('dob');
            const dateError = document.getElementById('date_error');
            const today = new Date();
            let message = "";
        
            const dobValue = dobInput.value.trim(); // Remove leading/trailing spaces
        
            // Check if the date is empty or incomplete
            if (!dobValue || dobValue.length < 10) {
                message = '<i class="bi bi-x-circle-fill text-danger"></i> Please enter a complete date.';
            } else {
                const dob = new Date(dobValue);
        
                // Calculate the user's age
                const age = today.getFullYear() - dob.getFullYear();
        
                if (dob > today || dob.getFullYear() < 1900) {
                    message = '<i class="bi bi-x-circle-fill text-danger"></i> Please enter a relevant date.';
                } else if (age < 18) {
                    message = '<i class="bi bi-x-circle-fill text-danger"></i> You must be 18 years old to register.';
                } else if (age > 70) {
                    message = '<i class="bi bi-x-circle-fill text-danger"></i> You are older than 70 years.';
                } else {
                    message = '<i class="bi bi-check-square-fill text-success mt-5"></i>';
                }
            }
        
            dateError.innerHTML = message;
            return message.includes('text-success');
        }
        
    
        function validateAadhaar() {
            const aadhaar = document.getElementById('aadhaar').value;
            const aadhaar_error = document.getElementById('aadhaar_error');
            let message = "";
    
            if (aadhaar.length !== 12) {
                message = '<i class="bi bi-x-circle-fill text-danger"></i> Aadhaar number must be 12 digits.';
            } else {
                message = '<i class="bi bi-check-square-fill text-success mt-5"></i>';
            }
    
            aadhaar_error.innerHTML = message;
            return message.includes('text-success');
        }
    
        function validateSkills() {
            const skills = document.getElementById('skills').value;
            const skills_error = document.getElementById('skills_error');
            let message = "";
    
            if (skills.trim() === "") {
                message = '<i class="bi bi-x-circle-fill text-danger"></i> Skills cannot be empty.';
            } else {
                message = '<i class="bi bi-check-square-fill text-success mt-5"></i>';
            }
    
            skills_error.innerHTML = message;
            return message.includes('text-success');
        }
    
        function validateFile(fileInputId) {
            const fileInput = document.getElementById(fileInputId);
            const file_error = document.getElementById(`${fileInputId}_error`);
            const allowedFormats = ['pdf', 'doc', 'docx', 'jpg', 'jpeg', 'png'];
            const fileName = fileInput.value.toLowerCase();
            const fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);
            let message = "";
        
            if (fileName && !allowedFormats.includes(fileExtension)) {
                message = '<i class="bi bi-x-circle-fill text-danger"></i> Invalid file format. Allowed formats: PDF, DOC, DOCX, JPG, JPEG, PNG.';
                fileInput.value = ""; // Clear the file input
            } else {
                message = '<i class="bi bi-check-square-fill text-success mt-5"></i>';
            }
        
            file_error.innerHTML = message;
            return message.includes('text-success');
        }
        
  
    
</script>

</head>
</div>
</div>
<!-- ======= Footer ======= -->
{% include "footer.html" %}

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>
