<!-- rejection_email.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Your Application Update from JOBMATE</title>
</head>
<body>
    <p>Dear {{ name }},</p>
    <p>We regret to inform you that your application for the position of {{ title }} at {{ company }} has not been successful. We understand that this news may be disappointing, and we appreciate the effort and interest you showed in our company.</p>
    <p>At JOBMATE, we believe that every experience, whether successful or not, is a stepping stone towards personal and professional growth. Your skills and qualifications are valuable, and we encourage you to continue pursuing your career goals with resilience and optimism.</p>
    <p>Remember, challenges and rejections are part of the journey towards success. Your determination and hard work will undoubtedly lead you to new opportunities. We wish you all the best in your future endeavors and hope that our paths may cross again.</p>
    <br>
    <p>With heartfelt regards,</p>
    <p>The JOBMATE Team</p>
    <br>
    <p>P.S. "Dream is not that which you see while sleeping it is something that does not let you sleep."
        - Dr. APJ Abdul Kalam</p>
</body>
</html>
