<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Search</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
   <!-- Favicons -->
   <link href="{% static 'assets/img/favicon2.png' %}" rel="icon">
   <link href="{% static 'assets/img/search.png' %}" rel="apple-touch-icon">
  
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  
  <!-- =======================================================
  * Template Name: JobMate
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/JobMate-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    /* Increase button size on hover */
    .btn.btn-dark:hover {
        transform: scale(1.05);
    }

    /* Change button background color to green on hover */
    .btn.btn-dark:hover {
        background-color: #21cfaf; /* Green color with opacity */
        color: black;
        #btn
    {
      background-color: #007a6c;
    }
    #sidebar1 {
        background-color: black;
    }

    #session {
      background-color: black;;
      color: white;
      padding: 10px 10px;
      margin-right: 10px;
      border-radius: 10px;
      transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
  }

  #session:hover {
      background-color: #007a6c; /* Change background color on hover */
      color: white; /* Change text color on hover */
  
    }
    
    
}

.dashboard-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;}
.dashboard-card:hover {
    background-color: #f5f5f5;
}

</style>
</head>

{% include 'seekerhead.html' %}
<div class="container">
    <br> <br> <br>
   <div class="row">
       {% if not jobs %}
           <div class="alert alert-danger" role="alert">
               No Related Queries found
           </div>
       {% else %}
           
          
                {% for job in jobs %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ job.title }}</h5>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Type</th>
                                        <td>{{ job.get_type_display }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Location</th>
                                        <td>{{ job.location }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status</th>
                                        <td>
                                            {% if job.status == 'Active' %}
                                                <span class="badge bg-success">{{ job.status }}</span>
                                            {% elif job.status == 'On Hold' %}
                                                <span class="badge bg-warning text-dark">{{ job.status }}</span>
                                            {% elif job.status == 'Closed' %}
                                                <span class="badge bg-danger">{{ job.status }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Deadline</th>
                                        <td>
                                            {% if job.deadline > now %}
                                                <span class="badge bg-danger">Expired</span>
                                            {% else %}
                                                <span class="badge bg-info">{{ job.deadline|date:'Y-m-d' }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'viewjobdetails' job_id=job.job_id %}" class="btn btn-dark">View Details</a>
                        
                            <form method="post" action="{% url 'applyjob' job_id=job.job_id %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Apply</button>
                            </form>
                        
                            <form method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" id="saveBtn{{ job.job_id }}">
                                    {% if job.is_saved_by_user %}
                                        <i class="bi bi-heart-fill"></i> Saved
                                    {% else %}
                                        <i class="bi bi-heart"></i> Save
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            </div>
         </div>
        

         